/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');

body{
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    background: #e0e0e0;
    color: #707070;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 400px;
    min-width: 400px;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
}
.title{
    font-weight: 700;
    font-size: 50px;
}
.form-rounded{
    border-radius: 2em;
}
.text-muted {
    color: #6c757d !important;
}
.p-4{
    padding: 1.5rem !important;
}
.shadow-sm{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5rem + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.back-card{
    border-radius: 40px !important;
}
.city-name{
    position: absolute;
    width: 100%;
}
.city-name p{
    font-size: 16pt;
    font-weight: 400;
}
.city-name span{
    font-weight: 400;
    font-size: 36pt;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -60px;
}
.temp span{
    font-weight: 100;
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
}
.card-mid{
    line-height: 0.5;
}
.condition{
    line-height: 1em;
    font-weight: 700;
    font-size: 1em;
    text-transform: capitalize;
}
.high::before{
    content: '';
    background: url('/img/up.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.low::before{
    content: '';
    background: url('/img/down.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-container{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #202020;
}
.icon-container img{
    margin: auto;
}
.card-bottom{
    line-height: 0.5;
}
.card-bottom span{
    font-size: 12px;
}
.card-bottom p{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -2px;
}
.footer{
    position: absolute;
    top: 56rem;
    left: 40%;
    transform: translate(0, 50%);
    font-size: 0.7rem;
    color: #e0e0e0;
}
.wave{
    position: absolute;
    bottom: -19rem;
    left: 0;
}

@media screen and (max-width: 767px) {
    .footer{
        left: 20.5%;
        transform: translate(0, 50%);
        right: auto;
        top: 58.2rem;
    }
    .wave{
        bottom: -21.3rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer{
        left: 31%;
        transform: translate(0, 50%);
    }
    .wave{
        bottom: -21.4rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
    .footer{
        left: 36%;
        transform: translate(0, 50%);
    }
    .wave{
        bottom: -21.4rem;
    }
}